In [ ]:
%pip install requests pandas plotly scikit-learn tqdm
import requests, pandas as pd, json
from datetime import datetime, timedelta
from concurrent.futures import ThreadPoolExecutor, as_completed
from tqdm.auto import tqdm
from requests.adapters import HTTPAdapter
from urllib3.util.retry import Retry

Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.32.3)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: plotly in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (6.0.1)
Requirement already satisfied: scikit-learn in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (1.6.1)
Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (4.67.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from requests) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from requests) (2025.1.31)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: narwhals>=1.15.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (1.35.0)
Requirement already satisfied: packaging in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (24.2)
Requirement already satisfied: scipy>=1.6.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from scikit-learn) (1.5.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [21]:
BASE   = "https://site.api.espn.com/apis/site/v2/sports"
LEAGUE = "basketball/nba"
start  = datetime(2024,10,22)
end    = datetime.today()


dates = [(start + timedelta(days=i)).strftime("%Y%m%d")
         for i in range((end-start).days+1)]


session = requests.Session()
retry_strategy = Retry(
    total=5,                
    backoff_factor=1,       
    status_forcelist=[429,500,502,503,504],
    allowed_methods=["GET"]
)
adapter = HTTPAdapter(max_retries=retry_strategy)
session.mount("https://", adapter)
session.mount("http://", adapter)

In [22]:
game_ids = []
for d in tqdm(dates, desc="Scoreboards"):
    try:
        resp = session.get(f"{BASE}/{LEAGUE}/scoreboard",
                           params={"dates":d},
                           timeout=5)
        resp.raise_for_status()
        for ev in resp.json().get("events", []):
            if ev["status"]["type"]["completed"]:
                game_ids.append(ev["id"])
    except Exception as e:

        print(f"⚠️  Failed date {d}: {e}")

print(f"Total games fetched: {len(game_ids)}")

Scoreboards: 100%|██████████| 196/196 [00:41<00:00,  4.69it/s]

Total games fetched: 1286

In [23]:
def fetch_stats(gid):
    try:
        summary = session.get(f"{BASE}/{LEAGUE}/summary",
                              params={"event":gid},
                              timeout=5).json()
        out = []
        for team in summary["boxscore"]["players"]:
            blk  = team["statistics"][0]
            keys = blk["keys"]
            for ath in blk["athletes"]:
                row = dict(zip(keys, ath["stats"]),
                           game_id=gid,
                           player=ath["athlete"]["displayName"])
                out.append(row)
        return out
    except Exception as e:
        print(f"⚠️  Failed game {gid}: {e}")
        return []
    
    rows = []

with ThreadPoolExecutor(max_workers=5) as pool:
    futures = {pool.submit(fetch_stats, gid): gid for gid in game_ids}
    for f in tqdm(as_completed(futures), total=len(futures), desc="Boxscores"):
        rows.extend(f.result())

df = pd.DataFrame(rows)
print("Total player-game rows:", len(df))
df.head(20)

Boxscores: 100%|██████████| 1286/1286 [00:54<00:00, 23.50it/s]

Total player-game rows: 65456

,minutes,fieldGoalsMade-fieldGoalsAttempted,threePointFieldGoalsMade-threePointFieldGoalsAttempted,freeThrowsMade-freeThrowsAttempted,offensiveRebounds,defensiveRebounds,rebounds,assists,steals,blocks,turnovers,fouls,plusMinus,points,game_id,player
0,24,2-7,1-4,1-2,2,1,3,3,0,1,2,0,-5,6,401704635,Patrick Williams
1,31,8-12,1-2,4-5,2,9,11,1,0,0,1,3,-14,21,401704635,Nikola Vucevic
2,35,4-13,0-5,2-2,0,8,8,6,1,1,4,1,-6,10,401704635,Coby White
3,37,10-17,5-8,2-3,1,4,5,3,0,0,7,4,-15,27,401704635,Zach LaVine
4,30,5-11,0-1,4-7,1,4,5,3,0,0,3,1,-22,14,401704635,Josh Giddey
5,17,5-8,1-3,4-4,3,2,5,0,1,0,0,2,+2,15,401704635,Jalen Smith
6,2,0-0,0-0,0-0,0,0,0,0,1,0,0,0,+3,0,401704635,Dalen Terry
7,5,0-3,0-3,0-0,0,2,2,1,0,0,0,1,+8,0,401704635,Matas Buzelis
8,12,1-3,0-2,0-0,0,0,0,1,1,0,0,0,-9,2,401704635,Julian Phillips
9,8,0-1,0-0,0-2,0,2,2,1,0,0,1,0,+4,0,401704635,Talen Horton-Tucker
10,14,2-4,1-3,0-0,0,2,2,4,0,0,1,2,+4,5,401704635,Lonzo Ball
11,25,4-6,0-2,0-0,0,4,4,3,0,0,2,2,-13,8,401704635,Ayo Dosunmu
12,2,1-1,1-1,0-0,0,0,0,0,0,0,0,0,+3,3,401704635,Chris Duarte
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,401704635,Torrey Craig
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,401704635,Jevon Carter
15,31,13-23,3-5,4-4,2,5,7,2,2,1,3,4,+18,33,401704635,Brandon Ingram
16,33,1-6,0-3,0-0,1,3,4,2,2,0,0,3,+5,2,401704635,Herbert Jones
17,19,3-5,0-1,2-2,0,2,2,3,2,3,2,2,+15,8,401704635,Daniel Theis
18,30,9-19,5-11,0-0,0,2,2,5,1,1,0,1,+18,23,401704635,CJ McCollum
19,30,4-15,0-3,6-7,0,8,8,10,1,0,1,0,+5,14,401704635,Dejounte Murray

In [25]:
numeric_cols = [
    "minutes","points","rebounds","assists",
    "steals","blocks","turnovers","threePointFieldGoalsMade"
]
for c in numeric_cols:
    if c in df:
        df[c] = pd.to_numeric(df[c], errors="coerce").fillna(0)


CATS = [
    "points",
    "rebounds",
    "assists",
    "threePointFieldGoalsMade",
    "steals",
    "blocks"
]

In [32]:
top10 = {}
for cat in CATS:
    if cat not in df:
        continue
    avg = df.groupby("player")[cat].mean()
    top10[cat] = avg.nlargest(10).index.tolist()
    print(f"Top 10 for {cat}: {top10[cat][:3]} …")

Top 10 for points: ['Shai Gilgeous-Alexander', 'Nikola Jokic', 'Giannis Antetokounmpo'] …
Top 10 for rebounds: ['Domantas Sabonis', 'Nikola Jokic', 'Ivica Zubac'] …
Top 10 for assists: ['Trae Young', 'Nikola Jokic', 'Tyrese Haliburton'] …
Top 10 for steals: ['Dyson Daniels', 'Dejounte Murray', 'Nikola Jokic'] …
Top 10 for blocks: ['Victor Wembanyama', 'Chet Holmgren', 'Walker Kessler'] …

In [34]:
dist_records = []
for cat, players in top10.items():
    for player in players:
        stats = df.loc[df.player == player, cat]
        dist_records.append({
            "player": player,
            "stat":    cat,
            "mean":    float(stats.mean()),
            "std":     float(stats.std()),
            "q25":     float(stats.quantile(0.25)),
            "q50":     float(stats.quantile(0.50)),
            "q75":     float(stats.quantile(0.75))
        })

dist_df = pd.DataFrame(dist_records)

dist_df = dist_df[["player","stat","mean","std","q25","q50","q75"]]
dist_df.head(10)

                    player    stat       mean        std    q25   q50    q75
0  Shai Gilgeous-Alexander  points  31.365854   9.080434  27.00  31.0  36.00
1             Nikola Jokic  points  28.832215  10.276845  23.00  28.0  35.00
2    Giannis Antetokounmpo  points  28.808219   9.883679  24.25  30.0  35.00
3              Luka Doncic  points  28.039216   8.076272  21.00  29.5  33.75
4          Anthony Edwards  points  26.791411   9.877305  21.00  27.0  33.00
5           Paolo Banchero  points  26.092784   8.892978  20.00  25.0  32.00
6             Kevin Durant  points  25.796875   7.931160  22.00  26.0  30.25
7             Devin Booker  points  25.761905   8.788484  18.00  26.0  33.00
8            Jalen Brunson  points  25.262411  10.149346  20.00  25.0  32.00
9              LaMelo Ball  points  25.191489   9.290157  19.25  25.0  31.00

In [39]:

snippet = dist_df.to_dict(orient="records")
prompt = f"""
You are an expert sportsbook AI. Below is each star’s full-season distribution for key stat categories:

{json.dumps(snippet, indent=2)}

For each player+stat, propose an OVER/UNDER prop line (to the nearest 0.5)
and explain your reasoning in one sentence (e.g. usage, consistency, upside).

Format:
Player (Stat):
 • Points OVER/UNDER X.Y — Reason...
 • Rebounds OVER/UNDER X.Y — Reason...
 • Assists OVER/UNDER X.Y — Reason...
 • 3PM OVER/UNDER X.Y — Reason...
 • Steals OVER/UNDER X.Y — Reason...
 • Blocks OVER/UNDER X.Y — Reason...
"""
with open("prompt.txt","w") as f:
    f.write(prompt)

print("Prompt written to prompt.txt. Next, run locally:")
print("cat prompt.txt | ollama run mistral")

🔑 Prompt written to prompt.txt. Next, run locally:
   cat prompt.txt | ollama run mistral